body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    background-image: url('icons/bg\ full.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.regForm{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#content {
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
}

#content h2{
    font-weight: 700;
    text-align: center;
}

#container{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 25px;
}

label[for="first_name"],
label[for="middle_name"],
label[for="last_name"],
label[for="suffix"],
label[for="purok"],
label[for="barangay"],
label[for="city"],
label[for="province"],
label[for="age"],
label[for="birthday"],
label[for="civil_status"],
label[for="citizenship"],
label[for="sex"],
label[for="education"],
label[for="contact_number"],
label[for="email"] {
    font-size: 16px;
    font-weight: 550;
}

.form-check-label{
    font-size: 14px;
    margin-top: 5px;
}

.form-control[type="text"] {
    width: 100%; 
}

.form-control[type="text"],
.form-control[type="email"] {
    height: 40px; 
    font-size: 14px; 
}

.form-control {
    border-radius: 12px; 
    border: 1px solid #ced4da; 
    padding: 9px;
    font-size: 14px; 
}

.form-control:hover {
    border-color: #aaa; 
}

.form-control:focus {
    border-color: #748C70;
    box-shadow: 0 0 0 0.2rem rgb(144, 152, 143);
}

.radioBtn {
    margin-top: 10px;
}

.radioBtn .form-check {
    display: inline-block;
    margin-right: 30px;
}

.radioBtn .form-check-label {
    margin-left: 1px;
}

.container-userType{
    margin-left: 39%;
    text-align: center;
}

.userTypeRadioBtn {
    margin-top: 6px;
}

.userTypeRadioBtn .form-check {
    display: inline-block;
    margin-right: 30px;
}

.userTypeRadioBtn .form-check-label {
    margin-left: 1px;
}


select.form-control {
    appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333" width="18px" height="18px"><path d="M7 10l5 5 5-5H7z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    padding-right: 30px; 
    border: 1px solid #ced4da; 
    padding-top: 7px;  
    width: 100%; 
    height: 40px; 
    font-size: 14px;
}

select {
    width: 340px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #999BA1;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
}

.custom-btn {
    width: 20%;
    padding: 10px 20px;
    background-color: #748C70;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: block;
    margin: 0 80px;
    text-decoration: none;
}

.custom-btn:hover,
.custom-btn:focus {
    background-color: #5F775B;
    color: #FFFFFF;
    border: none;
    text-decoration: none;
}

.btn-custom{
    width: 20%;
    padding: 10px 20px;
    background-color: #999BA1;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    display: block;
    margin: 0 80px;
    text-decoration: none;
}

.btn-custom:hover,
.btn-custom:focus {
    background-color: #6E7074;
    color: #FFFFFF;
    border: none; 
    text-decoration: none;
}
