
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%; 
    background-color: #F7F8FA;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 0px 12px -6px rgba(0,0,0,0.64);
    -webkit-box-shadow: 3px 0px 12px -6px rgba(0,0,0,0.64);
    -moz-box-shadow: 3px 0px 12px -6px rgba(0,0,0,0.64);
}

#sidebar img {
    width: 100px;
    margin-bottom: 10px;
}


#sidebar h4 {
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: #748C70;
}

#sidebar a {
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    display: block;
    color: #3B3D41;
    border-left: 4px solid transparent;
    margin-bottom: 10px;
}

#sidebar .logout {
    margin-top: 50px; 
}

#sidebar a.active,
#sidebar a:hover {
    border-radius: 0px 10px 10px 0px;
    background-color: #e5e9e7;
    font-weight: 600;
    color: #748C70;
    border-left-color: #748C70;
    padding-left: 16px;
    padding-right: 24px;
}

#sidebar a i {
    margin-right: 10px;
}

#content {
    margin-top: 6%;
    margin-left: 26%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

#content h2{
    font-weight: 700;
    text-align: center;
}

#container{
    margin-top: 40px;
}

.button-container {
    margin-top: 40px;
    text-align: center;
    margin-top: 40px;
}

.custom-btn {
    width: 40%;
    padding: 10px 20px;
    background-color: #748C70;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 30%;
}

.custom-btn:hover,
.custom-btn:focus {
    background-color: #5F775B;
    color: #FFFFFF;
    border: none; 
}


.table-container {
    margin-top: 40px;
    border: none;
    padding: 20px;
}

.table-container table {
    width: 100%;
}


