
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%; 
    background-color: #F7F8FA;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 3px 0px 12px -6px rgba(0,0,0,0.64);
    -webkit-box-shadow: 3px 0px 12px -6px rgba(0,0,0,0.64);
    -moz-box-shadow: 3px 0px 12px -6px rgba(0,0,0,0.64);
}

#sidebar img {
    width: 100px;
    margin-bottom: 10px;
}


#sidebar h4 {
    margin-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #748C70;
}

#sidebar a {
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    display: block;
    color: #3B3D41;
    border-left: 4px solid transparent;
    margin-bottom: 10px;
}


#sidebar a.active,
#sidebar a:hover {
    border-radius: 0px 10px 10px 0px;
    background-color: #e5e9e7;
    font-weight: 600;
    color: #748C70;
    border-left-color: #748C70;
    padding-left: 16px;
    padding-right: 24px;
}

#sidebar a i {
    margin-right: 10px;
}

#content {
    margin-top: 6%;
    margin-left: 26%;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

#content h2{
    font-weight: 700;
    text-align: center;
}

#container{
    margin-top: 40px;
}

/*form*/
label[for="name"],
label[for="purok"],
label[for="age"],
label[for="date"],
label[for="purpose"],
label[for="status"] {
    font-size: 19px;
    font-weight: 550;
}

.form-check-label{
    font-size: 16px;
    margin-top: 10px;
}

.form-control[type="text"] {
    width: 100%; 
}

.form-control[type="text"] {
    height: 40px; 
}

.form-control[type="text"] {
    font-size: 16px; 
}

.form-control {
    border-radius: 12px; 
    border: 1px solid #ced4da; 
    padding: 10px;
}

.form-control:hover {
    border-color: #aaa; 
}

.form-control:focus {
    border-color: #748C70;
    box-shadow: 0 0 0 0.2rem rgb(144, 152, 143);
}


/*design for checkbox*/
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    background-color: #fff;
    position: relative;
    margin-right: 6px;
    margin-top: 10px;
}

/*design for dropdown*/
select.form-control {
    appearance: none; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333" width="18px" height="18px"><path d="M7 10l5 5 5-5H7z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Add custom arrow */
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    padding-right: 30px; 
    border: 1px solid #ced4da; 
    padding-top: 7px;  
    width: 100%; 
    height: 40px; 
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    margin-top: 40px;
}

.custom-btn {
    width: 30%;
    padding: 10px 20px;
    background-color: #748C70;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 80px;
}

.custom-btn:hover,
.custom-btn:focus {
    background-color: #5F775B;
    color: #FFFFFF;
    border: none; 
}

.btn-custom{
    width: 25%;
    padding: 10px 20px;
    background-color: #999BA1;
    color: #FFFFFF;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 0 80px;
}

.btn-custom:hover,
.btn-custom:focus {
    background-color: #6E7074;
    color: #FFFFFF;
    border: none; 
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    background-color: white;
    width: 450px;
    height: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
}

.popup-content p {
    margin-bottom: 20px;
    margin-top: 50px;
}

.popup-content button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.popup-content button#cancelButton {
    background-color:#999BA1;
    color: white;
}
.popup-content button#logoutBtn{
    background-color: #5e785e;

    color: white;
}

